@import "scss/var";
@import "scss/header";
@import "scss/banners";
@import "scss/buttons";
@import "scss/cards";
@import "scss/footer";

// MISC
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
section {
    padding: 80px 0;
}
.section_title {
    text-align: center;
    font-size: 60px;
    font-family: "Playfair ";
    text-transform: uppercase;
    font-weight: 600;
    color: var(--custom-primary);
    margin-bottom: 30px;
}

.exclusive_products {
    .container {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &::before {
            position: absolute;
            content: "";
            top: 30%;
            left: 50px;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: linear-gradient(30.63deg, rgba(255, 183, 213, 0.6) 26.17%, #ff4853 97.06%);
        }
        .box {
            width: 100%;
            max-width: 800px;
            background: #f5f3ff;
            padding: 80px;
            height: 100%;
            h2 {
                margin-bottom: 1.5rem;
                font-family: "Playfair";
                font-weight: 700;
            }
            p {
                font-family: "Work Sans";
                margin-bottom: 1.5rem;
            }
        }
    }
}
.tesimonial {
    .img_wrap {
        position: relative;
        padding-right: 70px;
        padding-bottom: 70px;
        width: 100%;
        .backimg {
            z-index: 1;
        }
        .frontimg {
            position: absolute;
            left: 70px;
            z-index: 2;
            top: 70px;
        }
    }
    font-family: "Taviraj";
    h4 {
        font-weight: 600;
        font-size: 26px;
        text-align: end;
        padding-right: 50px;
        z-index: 1;
        position: relative;
        &::before {
            position: absolute;
            height: 1px;
            content: "";
            top: 50%;
            left: 0;
            right: 50%;
            background-color: #000;
            z-index: -1;
        }
        span {
            background-color: #fff;
            padding: 0 20px;
        }
        margin-bottom: 30px;
    }
    p,
    .position {
        color: #777777;
    }
}
.bg-custom {
    background: url(./../img/Vector1.png);
    background-size: cover;
    background-position: left center;
}
.bg-custom-2 {
    position: relative;
    z-index: 1;
    .blur1,
    .blur2 {
        position: absolute;
        z-index: -1;
    }
    .blur1 {
        top: 0;
        right: 0;
    }
    .blur2 {
        bottom: 0;
        left: 0;
    }
}

.gallery {
    h2 {
        font-size: 60px;
    }
    .gallery_section {
        padding-bottom: 50px;
        margin-top: 40px;
        position: relative;
        h4 {
            font-family: "Playfair";
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 30px;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: #ffd6dd;
            top: 50%;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* responsive xl */
@media (max-width: 1199px) {
}

/* responsive lg */
@media (max-width: 991px) {
    .tesimonial {
        .img_wrap {
            position: relative;
            padding-right: 70px;
            padding-bottom: 130px;
            width: 100%;
            .backimg {
                z-index: 1;
            }
            .frontimg {
                position: absolute;
                left: 70px;
                z-index: 2;
                top: 70px;
            }
        }
    }
    .gallery {
        .gallery_section {
            &::before {
                display: none;
            }
        }
    }
}

/* responsive md */
@media (max-width: 768px) {
    .exclusive_products {
        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .box {
                width: 100%;
                max-width: 800px;
                background: #f5f3ff;
                padding: 50px;
                height: 100%;
                h2 {
                    margin-bottom: 1.5rem;
                    font-family: "Playfair";
                    font-weight: 700;
                }
                p {
                    font-family: "Work Sans";
                    margin-bottom: 1.5rem;
                }
            }
            .img_wrap {
                img {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
    .tesimonial {
        .img_wrap {
            position: relative;
            padding-right: 70px;
            padding-bottom: 110px;
            width: 100%;
            .backimg {
                z-index: 1;
            }
            .frontimg {
                position: absolute;
                left: 22px;
                z-index: 2;
                top: 19px;
            }
        }
    }
}
/* responsive sm */
@media (max-width: 575px) {
    .section_title {
        font-size: 40px;
    }

    .tesimonial {
        .img_wrap {
            position: relative;
            padding-right: 10px;
            padding-bottom: 60px;
            width: 100%;
            .backimg {
                z-index: 1;
            }
            .frontimg {
                position: absolute;
                left: 10px;
                z-index: 2;
                top: 5px;
            }
        }
    }
    .gallery {
        h2 {
            font-size: 40px;
        }
    }
}
